
<div >
<form class="form-horizontal">
<div class="box-body">
  <div class="form-group">
    <label for="inputEmail3"  class="col-sm-2 control-label">Name</label>

    <div class="col-sm-9">
      <input type="text"  name="name1"  [(ngModel)]="recordEdit.name" class="form-control" id="inputEmail3" placeholder="Name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3"  class="col-sm-2 control-label">Contact</label>

    <div class="col-sm-9">
      <input type="text"  name="contact" [(ngModel)]="recordEdit.contact" class="form-control" id="inputEmail3" placeholder="Contact">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

    <div class="col-sm-9">
      <input type="email"  name="email" [(ngModel)]="recordEdit.email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Position</label>

    <div class="col-sm-9">
      <input type="text"  name="position" [(ngModel)]="recordEdit.position" class="form-control" id="inputEmail3" placeholder="Position">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Address</label>

    <div class="col-sm-9">
      <input type="text"  name="address" [(ngModel)]="recordEdit.address" class="form-control" id="inputPassword3" placeholder="Address">
    </div>
  </div>
 
</div>
<!-- /.box-body -->
<div class="box-footer col-sm-11"  style="background-color:#ecf0f5;">
  <button type="submit" class="btn btn-info btn-lg pull-right" (click)="updateEmployee()">Update</button>
</div>
<!-- /.box-footer -->
</form>
</div>