

    
  
    <div>
<form class="form-horizontal">
    <div class="box-body">
      <div class="form-group">
        <label for="inputEmail3"  class="col-sm-2 control-label">Name</label>
  
        <div class="col-sm-10">
          <input type="text"  name="name"  [(ngModel)]="EmployeeModel.name" class="form-control" id="inputEmail3" placeholder="Name">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3"  class="col-sm-2 control-label">Contact</label>
  
        <div class="col-sm-10">
          <input type="text"  name="contact" [(ngModel)]="EmployeeModel.contact" class="form-control" id="inputEmail3" placeholder="Contact">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
  
        <div class="col-sm-10">
          <input type="email"  name="email" [(ngModel)]="EmployeeModel.email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Position</label>
  
        <div class="col-sm-10">
          <input type="text"  name="position" [(ngModel)]="EmployeeModel.position" class="form-control" id="inputEmail3" placeholder="Position">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Address</label>
  
        <div class="col-sm-10">
          <input type="text"  name="address" [(ngModel)]="EmployeeModel.address" class="form-control" id="inputPassword3" placeholder="Address">
        </div>
      </div>
     
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <button type="submit" class="btn btn-info pull-right" (click)="addEmployee()">Save</button>
    </div>
    <!-- /.box-footer -->
  </form>
  </div>