.sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-left: 50px;
    text-align: center !important;
}
.skin-blue .main-header .navbar {
    background-color: #3c8dbc;
    text-align: center !important;
}